<form name="container-form" method="post" action="/courses/handle-form-actions" class="mt-4">
  <div>
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses">Khóa học đã xóa ({{deletedCount}})</a>

    {{!-- <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>

      <select class="form-control ml-4" style="width: 220px;">
        <option selected value="">-- Chọn hành động --</option>
        <option value="delete">Xóa</option>
        
      </select>
      <button class="btn btn-primary ml-4 check-all-submit-btn disabled">Thực hiện</button>
    </div> --}}

  </div>

  <table class="table mt-4">
  <thead>
    <tr>
      <th></th>
      <th scope="col">#</th>
      <th scope="col">Tên khóa học</th>
      <th scope="col">Trình độ</th>
      <th scope="col">Thời gian tạo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      {{!-- <th>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
        </div>
      </th> --}}
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa</button>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
        <a href="/courses/create">Đăng khóa học</a>
      </td>
    </tr>
   {{/each}}
  </tbody>
</table>
</form>

{{!-- modal confirm delete course --}}
<div class="modal" tabindex="-1" id="delete-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button"  id="btn-delete-course" class="btn btn-danger" data-dismiss="modal">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- delete hidden form --}}
<form name="delete-course-form" method="post"></form>

<script>

  document.addEventListener('DOMContentLoaded', function(){
    var courseId;
    var deleteForm = document.forms['delete-course-form']
    var containerForm =document.forms['container-form']
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    var checkAllSubmitBtn = $('.check-all-submit-btn');

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) 
      courseId = button.data('id') 
    })
    
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
      deleteForm.submit()
    }

    // checkbox all changed
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn()
    })

    //course item checkbox changed
    courseItemCheckbox.change(function(){
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn()
    })

    //re-render button Thuc hien
    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIds[]"]:checked').length
      if(checkedCount) {
        checkAllSubmitBtn.removeClass('disabled')
      } else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }

    //check all submit button clicked
    checkAllSubmitBtn.click(function(e){
      e.preventDefault();

      var isSubmmitable = !$(this).hasClass('disabled')
      if(isSubmmitable) {
        containerForm.submit()
      }
    })



   

  })
  
</script>